.file-container {
  border: 2px solid #00a37d;
  border-radius: 10px;
  box-shadow: 3px 0px #00a37d;
  color: #00a37d;
  font-weight: medium;

  span {
    margin-left: 15px;
  }
}

.filelist-title {
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0;
}

.filedrop-text {
  font-size: 0.8rem;
  font-weight: lighter;
  color: $text-color;
  text-align: center;
  &.small {
    font-size: 0.7rem;
  }
}
.dropzone-container {
  border-width: 2px;
  border-style: dotted;
  border-color: $primary;
  padding: 1rem 2rem;
  margin-bottom: 1rem;

  &:hover {
    cursor: pointer;
  }
}
